<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Artoo Campus - Forms</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="ui/appbar/appbar.css">
    <link rel="stylesheet" href="ui/form/form.css">
  </head>
  
  <body ng-app="artoo">
    <appbar></appbar>
    
    <!-- implement a form for inserting items -->
    <div ng-controller="ItemsCtrl">
      <!--{{ItemsSrv.find('it01')}}-->
      <select name="" ng-options="option.code as option.name for option in ItemsSrv.get()" ng-model="selectedItem" ng-change="selectItem(selectedItem)"></select>
      <form name="inputForm" ng-submit="update(item, inputForm)" novalidation autocomplete="off">
        <div class="row">
          <input type="text" name="name" ng-model="item.name" required>
          <label>Name</label>
        </div><!--/.row->name-->
        
        <div class="row">
          <textarea name="description" row="3" ng-model="item.description" required></textarea>
          <label>Description</label>
        </div><!--/.row->description-->
        
        <div class="row">
          <input type="text" name="image" ng-model="item.image" required>
          <label>Image</label>
        </div><!--/.row->image-->
        
        <button ng-disabled="inputForm.$invalid">Send</button>
        <a href ng-click="resetForm(insertForm)">Reset</a>
      </form>
      
      <!--<div>Text: {{justAnInput}}</div>
      <div>Dirty: {{inputForm.$dirty}}</div>
      <div>Pristine: {{inputForm.$pristine}}</div>
      <div>Valid: {{inputForm.$valid}}</div>
      <div>Invalid: {{inputForm.$invalid}}</div>
      <div>Submit: {{inputForm.$submitted}}</div>
      <div>Error: {{inputForm.$error}}</div>-->
      <!--{{inputForm}}--> <!--Prende il name del form-->
      
      <div ng-repeat="item in ItemsSrv.get()">
        <div>Name: {{item.name}}</div>
        <div>Description: {{item.description}}</div>
        <div><img ng-src="{{item.image}}" alt="{{item.name}} picture"></div>
      </div>
      
     <!--<ul>
        <li ng-repet="Item in ItemsSrv.get()">{{item.name}}</li>
        <li ng-repet="Item in ItemsSrv.get()">{{item.description}}</li>
        <li ng-repet="Item in ItemsSrv.get()">{{item.image}}</li>
      </ul>-->
      
    </div>

    <!-- interpolate results -->
    
    <!-- validate the form -->
    
    <!-- add a style to valid and invalid fields -->
    
    <!-- create an items service and extend it in the controller -->
    
    <!-- add a reset button to the form -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="ui/appbar/appbar.js"></script>
    <script src="subjects/forms/app.js"></script>
    <script src="subjects/forms/items.controller.js"></script>
    <script src="subjects/forms/items.service.js"></script>
  </body>
</html>
